<h1> New Form</h1>

 <% <form action="users_path" method="post" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]">
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]">
    <label for="password">Password:</label>
    <input type="text" id="password" name="user[password]">
    <input type="submit" value="Submit">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>
 <% </form>  %>